<template>
  <div ref="mainContainer">
    <h1>Страница для авторизованых</h1>
  </div>
</template>

<script>
import { TimelineLite, Back, Elastic, Expo } from "gsap";
export default {
  mounted() {
    const timeline = new TimelineLite({});

    timeline.to(this.$refs.mainContainer, 0, {
      scale: 0.85,
      opacity: 0.1,
      ease: Back.easeOut.config(1.7)
    });

    timeline.to(this.$refs.mainContainer, 1.2, {
      scale: 1,
      opacity: 1
    });
  }
};
</script>