* {
    text-transform: none;
}
/* Prilagodjavanje standardnih vuetify stilova */

.v-application p {
    margin-bottom: 0px !important;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.container {
    padding: 0 !important;
    max-width: 100% !important;
}

.v-toolbar__content {
    padding: 0 !important;
}

.v-footer {
    padding: 0 !important;
}

/* Ovde idu boje tekstova */
.grey_text {
    color: rgb(61, 61, 61);
}

/* Moji stilovi */
.nav_btn {
    height: 100% !important;
    display:inline-block;
    cursor: pointer;
}

.nav_btn:hover {
    background-color: rgba(0, 40, 77, 0.438);
}

.bootom_nav {
    height: 50px;
    display: flex;
    min-width: 100%;
}